{#
/**
 * @file
 * Custom theme implementation for the Moody Flex Tabs field.
 *
 * Available variables:
 * - set_active: Flex CTA headline.
 * - tab_title: Flex CTA subheadline.
 * - tab_content: Flex CTA link.
 *
 * @ingroup themeable
 */
#}

<p>{{ set_active }}</p>
<p>{{ tab_title }}</p>
<p>{{ tab_content }}</p>


