<div class="faculty-bio-subordinate">
  <div class="name">
    {% if email %}
      <a href="mailto:{{ email }}">{{ name }}</a>
    {% else %}
      {{ name }}
    {% endif %}
  </div>
  <div class="title">{{ title }}</div>
</div>
