<!-- Add you custom twig html here -->
<div class="moody-card">
  {% if media %}
    <div class="moody-card-media">
      {{ media }}
    </div>
  {% endif %}
  {% if cta %}
    <div class="moody-card-cta">
      {{ cta }}
    </div>
  {% endif %}
</div>
