{#
/**
 * @file
 * Custom theme implementation for the Moody Feature Credit field.
 *
 * Available variables:
 * - first_name: The author's first name.
 * - last_name: The author's last name.
 * - title: The author's title.
 *
 * @ingroup themeable
 */
#}

<div class="moody-feature-credit">
  <span>{{ first_name }}</span>
  <span>{{ last_name }}</span>
  <div class="author-title">{{ title }}</div>
</div>

