<!-- Add you custom twig html here -->
<div class="quotation-wrapper {{ style }}">
  <div class="quote-wrapper">
    <div class="quote-contents">
      {% if media %}
        <div class="moody-card-media">
          {{ media }}
        </div>
      {% endif %}
      <p class="quote">
        {{quote}}
      </p>
    </div>
  </div>
  <p class="author">{{author}}</p>
</div>
