/* .moody-flex-grid {
  margin-bottom: 20px;
}
.moody-flex-grid img {
  width: 100%;
}
.moody-flex-grid .mfg--headline {
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: 600;
}
.moody-flex-grid .mfg--subheadline {
  margin-top: 3px;
  font-style: italic;
  margin-bottom: 3px;
} */
