.featured-news {
  text-decoration: none;
  font-weight: bold;
}

/* the .date under featured news */
.featured-news .date {
  font-size: 1em;
  font-weight: 500;
}

/* New Image Section */
.featured-news .image-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px; /* Adjust as needed */
  position: relative; /* For absolute positioning of the category */
}

/* New Text Section */
.featured-news .text-section {
  padding: 2.5rem; /* Adjust as needed */
}

/* Styles for the category label */
.featured-news .category {
  top: 2.5rem;
  left: 2.5rem;
  color: #bf5700; /* Burnt orange */
  font-weight: bold; /* Bold text */
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 0.5em;
}

/* Styles for title and teaser inside the text section */
.featured-news .text-section .title {
  font-size: 1.5em; /* Adjust as needed */
  font-weight: 600;
}

.featured-news .text-section .teaser {
  font-size: 1em; /* Adjust as needed */
  font-weight: normal;
}
/* For mobile */
@media (max-width: 768px) {
  .featured-news {
    min-height: 150px; /* Adjust to your preferred minimum height for mobile */
  }

  .featured-news .bg-image {
    padding-left: 5%; /* Adjust to your preferred padding for mobile */
    padding-right: 5%; /* Adjust to your preferred padding for mobile */
    min-height: 250px; /* adjust as needed */
  }

  .featured-news .bg-image .title, .featured-news .bg-image .teaser {
    font-size: 1.4em; /* adjust as needed */
  }
}

/* Tablet (768px and up) */
@media (min-width: 768px) {
  .featured-news .bg-image {
    min-height: 600px; /* adjust as needed */
  }

  .featured-news .bg-image .title {
    font-size: 2em; /* adjust as needed */
    max-width: 70%; /* adjust as needed */
  }

  .featured-news .bg-image .teaser {
    font-size: 1.7em; /* adjust as needed */
  }
}

.featured-news .bg-image {
  position: relative;
}

.featured-news .bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1));
  z-index: 1; /* Gradient on top of the image but below the text */
}

.featured-news .bg-image .title-and-teaser, .featured-news .bg-image .category {
  position: relative;
  z-index: 2; /* Text and category on top of the gradient */
}

.featured-news .bg-image .category {
  color: #bf5700; /* White text */
  font-weight: 400; /* Bold text */
  text-transform: uppercase;
  font-size: 1.5rem;
}
