.moody-interactive-featurette {
  display: flex;
  flex-flow: row wrap;
}
.image-container {
  flex: 50%;
  display: flex;
  flex-flow: row wrap;
  padding: 2em;
  justify-content: center;
  align-items: flex-start; /* Align items to the start of the cross axis */
}

.first-half,
.second-half {
  flex: 1 1 50%; /* Assigning flex-grow, flex-shrink and flex-basis */
  padding: 1em;
}

.first-half .featurette-image,
.second-half .featurette-image {
  display: flex;
  align-items: center;
}

/* Set a max-width to the images to prevent them from becoming too large */
.first-half .featurette-image img,
.second-half .featurette-image img {
  max-width: 100%;
  height: auto;
}

.moody-featurette-color {
  height: 150px; /* Set a fixed height for the color block */
  width: 100%; /* Full width of the parent container */
}

/* .feature-2 to have padding-top: 2.5em */
.second-half .feature-2 {

}

/* Clear any padding that might affect the layout */
.second-half .featurette-image.feature-3 {
  padding: 0;
}

.featurette-content {
  flex: 50%;
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;

}

.featurette-heading {
  color: black;
  font-weight: 800;
}

.feature-3 {
  max-width: 325px;
}

/* Style the link with the "featurette-link" class */
.featurette-link {
  display: inline-flex; /* Make the link and line display inline */
  align-items: center; /* Vertically center the text and line */
  text-decoration: none; /* Remove the default underline if needed */
  color: #bf5700; /* Change the link text color to your preferred color */
  padding-right: 10px; /* Add padding to the right of the line */
}

.featurette-link-container {

}

/* Style the line with the "featurette-line" class */
.featurette-link-line {
  flex: 1; /* Take up the remaining space */
  height: 1px; /* Set the height of the line */
  background-color: #bf5700; /* Set the color of the line */
  margin-right: 10px; /* Add some left padding */
}





/* Responsive Design */
@media (min-width: 992px) {
  .moody-interactive-featurette {
    padding: 0 5em 0 5em;
  }
  .first-half,
  .second-half {
    flex: 0 1 50%; /* Do not allow the flex items to grow but they can shrink */
  }

  /* Set a max-width for the first image on larger screens */
  .first-half .featurette-image img {

  }

  .second-half .featurette-image img {

  }

  .second-half {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
  }

  .second-half .featurette-image.feature-2 .featurette-image-2 {
    max-width: 75%;
    padding-bottom: 2em;
  }
  .second-half .featurette-image.feature-2 .featurette-image-3 {
    
  }
}
