{#
/**
 * @file
 * Custom theme implementation for the Moody Multimedia Directors field.
 *
 * Available variables:
 * - first_name: The director's first name.
 * - last_name: The director's last name.
 * - title: The director's title.
 *
 * @ingroup themeable
 */
#}

<strong><span class="director-title">{{ title }}: </span></strong>
<span>{{ first_name }}</span>
<span>{{ last_name }}</span>
