$height: 300px; // Set the default height for the circle
$medium_height: 300px; // Set the height for medium screens
$large_height: 300px; // Set the height for large screens
.moody-flip-things-image-grid-container {
  background: repeating-linear-gradient(
    -25deg, // Angle of the lines
    white, // A very light grey for the primary color
    white 20px, // Color stop at 10 pixels, keeps the line thin
    #f7f7f7 20px, // A slightly darker grey for the line starts at 10 pixels
    #f7f7f7 22px // The line stops at 12 pixels, creating a 2-pixel thick line
  );
  .contents-row-max-w {
    max-width: 1200px;
    margin: 0 auto;
  }
  .headline {
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 800;
  }
  .img {
    width: 100%; // Make the image responsive

  }
  .content {
    position: relative; // For positioning arrows and text relative to the content
    text-align: center; // Center the text below the image
    // min-height: $height; // Set the minimum height for the content
    // // REsponsive breakpoint for medium screens
    // @media (min-width: 768px) {
    //   min-height: $medium_height; // Set the height for medium screens
    // }
    // // Responsive breakpoint for large screens
    // @media (min-width: 1024px) {
    //   min-height: $large_height; // Set the height for large screens
    // }
  }

  .front {
    .circle-border {
      width: $height; // Set a fixed width for the outer circle
      height: $height; // Set a fixed height for the outer circle
      border-radius: 50%;
      border: 4px solid #bf5700;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin: 0 auto;
      padding: 5px; // This creates the transparent space

      .circle {
        width: 100%; // Fill the parent
        height: 100%; // Fill the parent
        border-radius: 50%; // Ensures the inner div is also circular
        background-size: cover; // Cover the circular area
        background-position: center; // Center the image
        background-repeat: no-repeat; // Prevent repeating
      }

      // Responsive heights for different breakpoints
      @media (min-width: 768px) {
        width: $medium_height;
        height: $medium_height;
      }
      @media (min-width: 1024px) {
        width: $large_height;
        height: $large_height;
      }
    }
  }

  .back {



    .circle-border {
      width: $height; // Set a fixed width for the outer circle
      height: $height; // Set a fixed height for the outer circle
      border-radius: 50%;
      border: 4px solid #bf5700;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin: 0 auto;
      padding: 5px; // This creates the transparent space

      .circle {
        justify-content: center;
        text-align: center;
        background-color: #bf5700; // Set the background color
        color: #fff; // Set the text color to white
        font-weight: bold; // Make the text bold
        font-size: 14px;
        border-radius: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-flow: column wrap;
        padding-top: 1em;
        padding-left: 1.55em;
        padding-right: 1.55em;
      }

      // Responsive heights for different breakpoints
      @media (min-width: 768px) {
        width: $medium_height;
        height: $medium_height;
      }
      @media (min-width: 1024px) {
        width: $large_height;
        height: $large_height;
      }
    }
  }

  .below-content {
    color: #bf5700; // Example text color, adjust as needed
    font-size: 28px; // Example font-size, adjust as needed
    font-weight: 800; // Bold text for the headline
    margin-top: 20px; // Space between the image and text
    text-align: center;
  }

  // Assuming you have arrows or some sort of navigational aid
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // Add specific styles for left and right arrows
    // Adjust the size, color, etc., as needed
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }
}
