<div class="moody-special-quote-container">
  <div class="headline-container">
    <div class="ut-text-2xl text-ut-charcoal ut-font-weight-semibold font-italic">{{ headline }}</div>
  </div>
  <div class="quote-container">
    <div class="ut-text-base text-ut-burntorange">{{ quote }}</div>
    <div class="ut-text-base text-ut-burntorange">{{ quote2 }}</div>
    <img src="{{ image_url }}" alt="Image description" class="image-overlay">
  </div>
</div>
