{#                 'headline' => '',
                'quote' => '',
                'image_url' => '', #}
<div class="moody-special-quote-container">
  <div class="headline-container">
    <div class="headline">{{ headline }}</div>
  </div>
  <div class="quote-container">
    <div class="quote">{{ quote }}</div>
    <img src="{{ image_url }}" alt="Image description" class="image-overlay">
  </div>
</div>
