.moody-hero {
  position: relative;
}

.hero-headline {
  margin-top: 0;
}

.moody-hero .hero-content {
  height: 100%;
  margin: auto;
  padding: 0 1rem;
}

.moody-hero img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
}
