/* Image */
.moody-hero.moody-homepage-hero .hero-img {
  background-size: cover;
  height: 500px;
}
.moody-hero .center {
  background-position: center;
}
.moody-hero .left {
  background-position: left;
}
.moody-hero .right {
  background-position: right;
}

/* Text */
.moody-hero.extrabold-headline .hero-content {
  height: auto;
  margin: auto;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.moody-hero.extrabold-headline .hero-callout {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Ensure CTA aligns to flex-start */
.moody-hero.extrabold-headline .hero-cta {
  align-self: flex-start;
}
/* Same for hero-subhead */
.moody-hero.extrabold-headline .hero-subhead {
  align-self: flex-start;
}
@media screen and (min-width: 900px) {
  .moody-hero.extrabold-headline .hero-callout {
    height: 100%;
  }
}
/* We want to defeat the .moody-hero .ut-btn--hero */
.moody-hero a.ut-btn--hero {
  color: #fff;
  display: inline-block;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
}
@media screen and (min-width: 900px) {
  .moody-hero.extrabold-headline .ut-btn--hero {
    float: left;
  }
  .moody-hero.extrabold-headline .hero-img {
    height: 750px;
  }
  .moody-hero a.ut-btn--hero {
    font-size: 1.5rem;
  }
}
