<!-- Add you custom twig html here -->
<div class="moody-newsletter-wrapper {{ style }}">
  <h3 class="moody-newsletter-headline">{{ headline }}</h3>
  <div class="moody-newsletter-link">{{ cta }}</div>
</div>
